<div *ngIf="mensagem_sucesso" (click)="mensagem_sucesso = ''" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucesso!</strong> {{mensagem_sucesso}}
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>
 
<div *ngIf="mensagem_erro" (click)="mensagem_erro = ''" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Erro!</strong> {{mensagem_erro}}
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>
<div>
    <h3>Edição de Empresas</h3>
    <p>Utilize o formulário para editar os dados da empresa.</p>
</div>
<hr />
 
<form [formGroup]="formEdicao" (ngSubmit)="onSubmit()">
 
    <div class="row mb-3">
 
        <!-- campo oculto -->
        <input type="hidden" formControlName="idEmpresa" />
 
        <div class="col-md-4">
            <label>Nome Fantasia:</label>
            <input type="text" class="form-control" formControlName="nomeFantasia" />
 
            <div class="text-danger" *ngIf="form.nomeFantasia.touched && form.nomeFantasia.invalid">
                Por favor, informe o nome fantasia da empresa.
            </div>
 
        </div>
        <div class="col-md-4">
            <label>Razão Social:</label>
            <input type="text" class="form-control" readonly formControlName="razaoSocial" />
 
            <div class="text-danger" *ngIf="form.razaoSocial.touched && form.razaoSocial.invalid">
                Por favor, informe a razão social da empresa.
            </div>
        </div>
        <div class="col-md-4">
            <label>CNPJ:</label>
            <input type="text" class="form-control" readonly formControlName="cnpj" />
 
            <div class="text-danger" *ngIf="form.cnpj.touched && form.cnpj.invalid">
                Por favor, informe o cnpj da empresa.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Salvar Alterações" [disabled]="!formEdicao.valid" class="btn btn-primary" />
        </div>
    </div>
</form>


